<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Jinx | Online-store</title>
    <link rel="icon" type="image/png" th:href="@{../images/logo.png}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{../css/style.css}">
    <!--  Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Work+Sans:wght@300;500;700&display=swap"
          rel="stylesheet">
</head>
<body>

<section class="section">
    <div th:replace="temp/header :: header"></div>

    <h2 class="section_title" id="product" th:text="${product.getName()}"></h2>
    <div class="product_page">
        <div class="product_image">
            <img th:src="${product.getImage()}" alt="">
        </div>

        <div class="product_details">
            <span class="product_price" th:text="${product.getPrice()} + '₽'"></span>

            <div th:if="${not flag}">
                <form th:action="@{/login}">
                    <button class="btn" type="submit" name="product">Add to cart</button>
                </form>
            </div>
            <div th:if="${flag}">
                <form th:if="${cart == null}" th:action="@{/products/{id}/add_to_cart (id=${product.getId()})}"
                      th:object="${product}" th:method="patch">
                    <button class="btn" type="submit" name="product">Add to cart</button>
                </form>
                <form th:if="${not (cart == null)}" th:action="@{/user/cart}">
                    <button class="btn" type="submit" name="product">Go to cart</button>
                </form>
            </div>
        </div>
    </div>

    <div class="product_description">
        <span class="catalog_text" th:text="${product.getDescription()}"></span>
    </div>

    <div class="form_container">
        <a th:href="@{/products}">
            <button class="btn" type="submit" name="product">
                <span>Back</span>
            </button>
        </a>
    </div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/app.js"></script>

</body>
</html>