<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Change Password</title>
    <link rel="icon" type="image/png" th:href="@{../images/icon.png}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{../css/style.css}">
    <!--  Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Work+Sans:wght@300;500;700&display=swap"
          rel="stylesheet">
</head>
<body>


<section class="section section--login" id="change">
    <div class="login_header">
        <h2 class="section_title_login">Change Password</h2>
        <h3 class="section_suptitle_login">Enter new password</h3>
    </div>

    <form th:action="@{/user/change_password}" th:object="${pass}" th:method="post">
        <div class="login_page">
            <div class="login_item" >
                <div class="form_title">
<!--                    <div>-->
<!--                        <text class="login_text">Old Password</text>-->
<!--                        <input class="login_form" type="password" autocomplete="on" name="oldPassword">-->
<!--                    </div>-->
                    <div>
                        <p style="color: red" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></p>
                        <text class="login_text">Old Password</text>
                        <input class="login_form" type="password" autocomplete="on" name="oldPassword">
                    </div>
                    <div>
                        <p style="color: red" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></p>
                        <text class="login_text">New Password</text>
                        <input class="login_form" type="password" autocomplete="on" name="newPassword">
                    </div>
                    <div>
                        <p style="color: red" th:if="${#fields.hasErrors('repeatedPassword')}" th:errors="*{repeatedPassword}"></p>
                        <text class="login_text">Repeat Password</text>
                        <input class="login_form" type="password" autocomplete="on" name="repeatedPassword">
                    </div>
                </div>

                <div class="container container--btn">
                    <div><input class="btn" type="submit" value="Change"></div>
                    <a th:href="@{/user/profile}"><input class="btn" type="submit" value="Go to profile"></a>
                </div>

            </div>
        </div>
    </form>

</section>

</body>
</html>