<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Change Password</title>
    <link rel="icon" type="image/png" th:href="@{../images/logo.png}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{../css/style.css}">
    <!--  Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Work+Sans:wght@300;500;700&display=swap"
          rel="stylesheet">
</head>
<body>


<section class="section">
    <div th:replace="temp/header :: header"></div>
    <form class="form_container" th:action="@{/user/change_password}" th:object="${pass}" th:method="post" id="login">
        <div class="login_header">
            <h2 class="section_title_login">Change Password</h2>
            <h3 class="section_suptitle_login">Enter new password</h3>
        </div>

        <div class="form_items">
            <div>
                <div class="error" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></div>
                <input class="input_tooltip" type="password" autocomplete="on" name="oldPassword"
                       placeholder="Old Password">

            </div>
            <div>
                <div class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
                <input class="input_tooltip" type="password" autocomplete="on" name="newPassword"
                       placeholder="New Password">
            </div>
            <div>
                <div class="error" th:if="${#fields.hasErrors('repeatedPassword')}"
                     th:errors="*{repeatedPassword}"></div>
                <input class="input_tooltip" type="password" autocomplete="on" name="repeatedPassword"
                       placeholder="Repeat Password">
            </div>

            <button class="btn" type="submit">Change</button>
            <a th:href="@{/user/profile}">
                <button class="btn btn_pas" type="button">
                    <span>Go to profile</span>
                </button>
            </a>
        </div>
    </form>

</section>

</body>
</html>