@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #e5e5e5;
}


/* Page */
.page {
    overflow: hidden;

    background: url("../images/home-7.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


/* Intro */
.intro {
    font-family: 'Playfair Display', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /*font-family: inherit;*/
    line-height: 1.1;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 150px auto 0;

    text-align: center;
}

.intro_title {
    color: #fff;
    font-size: .93rem;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: .3em;
}

.intro-suptitle {
    font-size: 54px;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 400;
}

.intro-suptitle--dop {
    /*font-style: italic;*/
}


/* Header */
.header, .header.fixed {
    width: 100%;
    padding: 1% 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #a661d7;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    align-items: center;
}


/* Navigation */
nav {
    cursor: pointer;
    transition: all 0.2s linear;
    margin: 10% 30%;
    letter-spacing: 0.3em;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
    white-space: nowrap;
}

.nav_link {
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    position: relative;
    color: #fff;
    text-decoration: none;

    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    overflow: hidden;
    margin: 0 20px;
}

.nav_link:before {
    content: "";
    position: absolute;
    width: 0;
    background: #fff;
    left: 45%;
    height: 2px;
    bottom: 0;
    transition: all .3s;
    opacity: 0.7;
}

.nav_link:hover:before {
    width: 100%;
    left: 0;
}


/*ERROR*/
.error {
    font-size: 20px;
    /*justify-content: center;*/
    text-align: center;
}


/* Button */
button {
    display: inline-block;
    background: none;
    border-radius: 10rem;
    outline: none;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.btn {
    margin: 7% auto;
    width: 280px;
    height: 50px;
    border-radius: 10rem;
    background-color: rgba(212, 141, 255, 0.46);
    transition: all .3s;
    letter-spacing: 0.3em;
    overflow: hidden;
}

.btn:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rebeccapurple;
    transition: all .3s;
    opacity: 0.3;
}

.btn:hover:before {
    width: 100%;
}

/*возможно надо удалить*/
/*.btn--sum {*/
/*    margin: 20px 20px 0 20px;*/
/*}*/

.btn_scroll {
    margin-top: 10%;
    min-width: 50px;
    min-height: 50px;
    font-size: 24px;
    color: #fff;
    background: none;
    border: 2px solid;
    transition: all 0.3s ease-in-out 0s;
    outline: none;
    z-index: 1;
}

.btn_scroll:hover, .btn_scroll:focus {
    color: #fff;
    transform: translateY(-6px);
}

.btn_scroll::after {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 6px solid #a661d7;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

@keyframes ring {
    0% {
        width: 55px;
        height: 55px;
        opacity: 1;
    }
    100% {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}

.btn_light {
    background-color: rgba(213, 173, 255, 0);
    letter-spacing: 0.3em;
    overflow: hidden;
}


/* Section */
.section {
    padding: 9% 0;
    background: linear-gradient(to bottom, rgba(124, 37, 180, 0.22), rgba(166, 97, 215, 0.16));
}

.section_header {
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
}

.section_title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 300;
    color: #333;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 0.3em;
}

.section_title:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    /*margin: 15px auto;*/
    margin: 1% auto;
    background-color: #a661d7;
}

.section_title[id="product"] {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    text-align: center;
}


/* Catalog */
.catalog {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-top: 4%;
}

.catalog_item {
    padding: 2% 15%;
}

.catalog_img {
    position: relative;
    text-align: center;
    transition: transform .3s linear;
}

.catalog_img:hover {
    transform: translate3d(-10px, -10px, 0);
}

.catalog_img img {
    width: 100px;
    height: 100px;
    transition: opacity .2s linear;
}

.catalog_img:hover .catalog_text {
    color: #a661d7;
}

.catalog_text {
    font-size: 24px;
    color: transparent;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    transition: opacity .2s linear;
    background: linear-gradient(to bottom, #a661d7, #333);
    -webkit-background-clip: text;
    background-clip: text;
}


/*Cart*/
.cart_page {
    display: grid;
    margin: 0 30px;
}

.cart_form {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #0c0c0c;
    display: flex;
    padding-bottom: 20px;
}

.cart_form_sum {
    padding-top: 250px;
    font-size: 24px;
}

.cart_form_sum txt {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    margin: 20px;
}

.cart_btn_form {
    text-align: right;
}

.cart_inside {
    display: flex;
    margin: 0 20px;
}

.cart_inside txt {
    padding: 0 20px;
}

.cart_link {
    color: #333;
    text-shadow: 0 3px 8px rgba(166, 97, 215, 0.59);
    text-decoration: none;
    transition: color .2s linear;
    margin: 0 20px;
    font-weight: 300;
}

.cart_link:hover {
    color: rgba(43, 11, 107, 0.81);
}

.cart_btn {
    width: 30px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    color: #000;
    text-transform: uppercase;
    transition: background .2s linear, color .2s linear;
}

.cart_btn--delete {
    margin: 0 20px;
    width: 20px;
}


/* Form Container */
form {
    min-width: 100px;
    min-height: 100px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, rgba(212, 141, 255, 0.46) 50%, #FFE6FA 50%);
}

.form_container {
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    justify-content: space-around;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    margin: 0 auto;
}

form[id="contactForm"] {
    height: 425px;
}

form[id="login"] {
    width: 450px;
    /*height: 575px;*/
}

form[id="forgot"] {
    width: 450px;
}

input, textarea, .input_item {
    min-width: 240px;
    min-height: 50px;

    margin-top: 10px;
    padding: 15px;

    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    color: #5E6472;

    outline: none;
    border: none;

    transition: 0.2s linear;
    border-radius: 5px 5px 5px 5px;
}

.form_items {
    text-align: center;
    margin: 0 auto;
}

.form_input[id="pwd"], [id="txt-input"] {
    border-radius: 0 5px 5px 0;
}

.input_item {
    background: #fff;
    border-radius: 5px 0 0 5px;
}

.input_tooltip {
    position: relative;
}

.input_tooltip_text {
    position: absolute;
    top: calc(20%);
    right: -70%;
    background-color: #fff;
    color: #000000;
    padding: 5px;
    border-radius: 10px 10px 10px 0;
    font-size: 15px;
    white-space: nowrap;

    opacity: 0;
    transition: opacity .5s ease;
}

.input_tooltip:hover .input_tooltip_text {
    z-index: 1;
    opacity: 1;
}


/*Login*/
.page_header {
    width: 100%;
    max-width: 950px;
    margin: 10px auto 0;
    /*padding-bottom: 20px;*/
    text-align: center;
}

.page_suptitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    color: #333;
    font-weight: 300;
}

.page_suptitle[id="products"] {
    font-family: 'Playfair Display', sans-serif;
    color: #333;
    font-size: 36px;
}

.page_title {
    font-size: 30px;
    font-weight: 300;
    color: #333;
    padding-top: 20px;
    text-transform: uppercase;
}

.page_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 20px auto;
    background-color: #a661d7;
}


/* Submits */
.submits {
    width: 48%;
    display: inline-block;
    float: left;
    margin-left: 2%;
}

.frgt-pass {
    background: transparent;
}

.sign-up {
    background: #B8F2E6;
}


/*PRODUCTS*/
.prod_form {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #0c0c0c;
    display: flex;
    padding: 20px;
}

.prod_header {
    width: 100%;
    max-width: 950px;
    margin: 10px auto;
    /*padding-bottom: 20px;*/
    text-align: center;
}

.prod_header_title {
    font-size: 30px;
    font-weight: 300;
    color: #333;
    padding-top: 20px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.prod_category {
    font-size: 24px;
    margin: 10px 0;
    border-bottom: 3px solid #a661d7;
}

.prod_category a {
    color: #0c0c0c;
    text-decoration: none;
    margin: 0 20px;

    transition: linear .2s;
}

.prod_category img {
    width: 20px;
    height: 20px;
}

.prod_category a:hover {
    color: #a661d7;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.prod_list {
    margin: 40px 100px;
    text-align: center;
}

.prod_list_one {
    display: inline-block;
    margin: 20px;
    padding-bottom: 30px;

    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
}

.prod_list_one a {
    color: #0c0c0c;
    text-decoration: none;

    transition: linear .1s;
}

.prod_list_one a:hover {
    color: #a661d7;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}


/*PRODUCT ONE*/
.product_page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
    margin-top: 3%;
}

.product_image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_image img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.product_details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}

.product_price {
    font-size: 36px;
    margin-bottom: 10px;
}

.product_description {
    text-align: center;
    margin: 5%;
}


/*CONTACT*/
.contact_info {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    align-items: center;
    margin: 5%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*FOOTER*/
.footer {
    /*justify-items: center;*/
}

.footer_text {
    font-size: 18px;
}